// Import styles for fastpages.
@import "minima/fastpages-styles";


// font loading 
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab)

$base-font-family: "Nanum Gothic", normal !default;

// Add your styles below
// make non-headings slightly lighter
.post-content p, .post-content li {   
   font-size: 16px;
   color: #515151;
}

.post img {
   display: block;
   border:1px solid #021a40;
   vertical-align: top;
   margin-left: auto;
   margin-right: auto;
}
